<div class="wrapper9">
  <div class="container">
      <div class="row">
          <div class="col-xl-3 col-md-3">
              <h2>SITE NAVIGATION</h2>
              <ul>
                  <li><a href="javascript:void(0);">How It Works</a></li>
                  <li><a href="javascript:void(0);">Testimonials</a></li>
                  <li><a href="javascript:void(0);">Get Started</a></li>
                  <li><a href="javascript:void(0);">Pricing</a></li>
                  <li><a href="javascript:void(0);">Sign In</a></li>
                  <li><a href="javascript:void(0);">Forum</a></li>
                  <li><a href="javascript:void(0);">News</a></li>
              </ul>
          </div>
          <div class="col-xl-3 col-md-3">
              <h2>LEGAL</h2>
              <ul>
                  <li><a href="javascript:void(0);">Terms & Conditions</a></li>
                  <li><a href="javascript:void(0);">Copyright / DMCA</a></li>
                  <li><a href="javascript:void(0);">Privacy Policy</a></li>
                  <li><a href="javascript:void(0);">Refund Policy</a></li>
                  <li><a href="javascript:void(0);">Disclaimer</a></li>
              </ul>
          </div>
          <div class="col-xl-3 col-md-3">
              <h2>SUPPORT</h2>
              <ul>
                  <li><a href="javascript:void(0);">Language</a></li>
                  <li><a href="javascript:void(0);">Frequently Asked Questions</a></li>
                  <li><a href="javascript:void(0);">Submit Your Music</a></li>
                  <li><a href="javascript:void(0);">Contact Us</a></li>
                  <li><a href="javascript:void(0);"></a></li>
              </ul>
          </div>
          <div class="col-xl-3 col-md-3">
              <h2>Connect</h2>
              <ul class="social-connects">
                  <li><a href="javascript:void(0);"><img src="assets/images/facebook.png"></a></li>
                  <li><a href="javascript:void(0);"><img src="assets/images/instagram.png"></a></li>
                  <li><a href="javascript:void(0);"><img src="assets/images/twitter.png"></a></li>
                  <li><a href="javascript:void(0);"><img src="assets/images/youtube.png"></a></li>
              </ul>
              <p>© 2018 BANGERZARMY, All Rights Reserved</p>
          </div>
      </div>
  </div>
</div>