<div class="page_inner_container">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-lg-10">
                <div class="right_panel">
                    <div class="panel_container">
                        <h2>Subscriptions</h2>
                        <div class="wrapper6">
                            <ul>
                                <li>
                                    <h2>1 YEAR SUBSCRIPTION</h2>
                                    <h3>$249.99 <span>+ LOYAL SOLDIER RANKING<br>+ A FREE GIFT</span></h3>
                                    <p>Save $50 with the premium plan value of $299.96!<br>All the features and benefits goes here.<br>Quisque sit amet diam sit amet libero.<br>dignissim accumsan et eget arcu.<br>Lorem ipsum dolor sit ex amet.<br>Consectetur adipiscing elit.<br>Nullam quis est sit amet.<br>Sapien posuere ultricies.</p>
                                    <p style="padding-top: 50px;"><a href="javascript:void(0)" class="get_started">Get Started</a></p>
                                </li>
                                <li>
                                    <h2>6 MONTH SUBSCRIPTION</h2>
                                    <h3>$139.99</h3>
                                    <p>Save $10 with the standard plan value of $149.98<br>More benefits and features will go right here.<br>In hac habitasse platea dictumst posus.<br>Sem et pretium vehicula integer eucu.<br>Ut sodales faucibus pretium ex nulla.<br>Nec tempus odio et vehicula libero.<br>Vestibulum mollis quis turpis in.<br>Cursus quisque et viverra neq.</p>
                                    <p style="padding-top: 50px;"><a href="javascript:void(0)" class="get_started">Get Started</a></p>
                                </li>
                                <li>
                                    <h2>3 MONTH SUBSCRIPTION</h2>
                                    <h3>$74.99</h3>
                                    <p>Most economical plan for the DJ on a budget<br>Some benefits and features to go here.<br>Sed sed augue dui nam exus euismod.<br>Sapien vel elit auctor congue turpis.<br>Nullam in varius enim proin eget.<br>Iaculis nunc ut porta elit sed.<br>Vel nisl auctor ex vulputate<br>Egestas nunc tortor elit.</p>
                                    <p style="padding-top: 50px;"><a href="javascript:void(0)" class="get_started">Get Started</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
