<div class="page_inner_container">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-lg-10">
                <div class="right_panel">
                    <div class="panel_container">
                        <h2>Dashboard</h2>
                        <p>You are logged in as <strong>Bangerzarmy</strong>. If you are not Beat Supply Member, please <a routerLink="logout">click here</a> to logout.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>